@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nepswy');
  src:  url('fonts/icomoon.eot?nepswy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nepswy') format('truetype'),
    url('fonts/icomoon.woff?nepswy') format('woff'),
    url('fonts/icomoon.svg?nepswy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-left:before {
  content: "\ea38";
}
